body {
    margin: 0px;
    padding: 0px;
}

.upper-div {
    background-color: #1f2937;
    color: white;
    width: 100%;

}

.top-row-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 24px;
}

.header-links {
    display: flex;
    gap: 32px;
    font-size: 18px;
    align-items: center;
    padding-right: 16%;
}

.header-logo {
    padding-top: 8px;
    align-self: flex-start;
    padding-left: 16%;
}

.main-title {
    display: flex;
    font-size: 48px;
    font-weight: bolder;
}

.header-main-left {
    
    display: flex;
    flex-direction: column;
    width: 400px;
    padding-left: 16%;
    
}

.image1 {
    padding-right: 16%;


}

.main-upper {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;


}

.button {
    display: flex;
    justify-content: flex-start;

}