body {
    margin: 0px;
    padding: 0px;
    background-color: #1f2937;
}

.upper-div {
    background-color: #1f2937;
    color: white;
    height: 100vh;
    width: 100vw;

}

.top-row-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 24px;
}

.header-links {
    display: flex;
    gap: 32px;
    font-size: 18px;
    align-items: center;
    margin-right: 16%;
    border-radius: 10px;
    background-color: rgb(60, 80, 80);
    padding-left: 8px;
    padding-right: 8px;
    height: 50px;
    margin-top: 8px;
}

.header-logo {
    padding-top: 8px;
    align-self: flex-start;
    padding-left: 16%;
}

.main-title {
    display: flex;
    font-size: 48px;
    font-weight: bolder;
}

.header-main-left {
    width: 400px;
    padding-left: 16%;
    
}

.image1 {
    padding-right: 16%;
    padding-bottom: 32px;


}

.main-upper {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;


}

.button {
    display: flex;
    justify-content: flex-start;
    padding-top: 8px;

}

.subtext {
    font-size: 18px;
}

a, a:link a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
  }

.learn-button {
    padding-top: 12px;
}

.project1-left {
    flex-direction: column;
    padding-right: 3vw;
    width: 70vw;
}



.project1-right {
    display: flex;
    flex-direction: column;
    width: 30vw;
}


.paragraph1, .paragraph2, .paragraph3, .subtext, .learn-more{
    display: flex;
    font-size: 24px;
    padding-bottom: 16px;
    padding-top: 8px;
}

.learn-more {
    padding-top: 16px;
}

.organizing {
    display: flex;
    width: 80vw;
}

.project-text {
    display: flex;
    justify-content: center;
    font-size: 40px;
}



.image-row {
    display: flex;
    justify-content: space-between;
    padding-left: 25vw;
    padding-right: 25vw;
}


.rounded {
    border-radius: 50px;
    border: 3px solid black;
}

.rounded2 {
    border-radius: 15px;
    border: 3px solid black;
    margin: 20px;
}


.project-list {
    display: flex;
    flex-direction: column;
}